body {
  background-color: #262626;
  margin: 0;
}

.logo {
  width: 70px;
}

.logo,
.menu {
  padding: 40px;
  cursor: pointer;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    color: #FFF;
    padding: 0 500px 0 170px;
}

main > h1 {
    font-family: 'benzin-semibold';
    margin: 0;
}

main > p {
    font-size: 20px;
    font-family: 'benzin-regular';
    text-align: justify;
}

.me {
    z-index: -100;
    width: 300px;
    height: 80%;
    border-radius: 0 0 0 30%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    border-collapse: separate; 
}

.view-project {
    font-family: "benzin-regular";
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
    display: flex;
}

.arrow {
    width: 30px;
    cursor: pointer;
}