@font-face {
  font-family: "benzin-bold";
  src: url(/fonts/Benzin-Bold.ttf);
}

@font-face {
  font-family: "benzin-extrabold";
  src: url(/fonts/Benzin-ExtraBold.ttf);
}

@font-face {
  font-family: "benzin-medium";
  src: url(/fonts/Benzin-Medium.ttf);
}

@font-face {
  font-family: "benzin-regular";
  src: url(/fonts/Benzin-Regular.ttf);
}

@font-face {
  font-family: "benzin-semibold";
  src: url(/fonts/Benzin-Semibold.ttf);
}
