@font-face {
  font-family: "benzin-bold";
  src: url("../fonts/Benzin-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "benzin-extrabold";
  src: url("../fonts/Benzin-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "benzin-medium";
  src: url("../fonts/Benzin-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "benzin-regular";
  src: url("../fonts/Benzin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "benzin-semibold";
  src: url("../fonts/Benzin-Semibold.ttf") format("truetype");
}
