body {
  background-color: #262626;
  margin: 0;
  overflow: hidden;
}

.logo {
  width: 50px;
}

.menu {
  width: 60px;
}

.logo,
.menu {
  padding: 90px;
  cursor: pointer;
}

.me {
  margin-top: 0;
  animation-delay: 0.6s;
  width: 100%;
  max-width: 300px; /* Set a maximum size */
  height: auto; /* Maintain aspect ratio */
}

.top,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.bottom > div {
  display: flex;
  align-items: center;
  padding: 0px 70px 0 70px;
}

.bottom > h1 {
  text-align: center;
  font-family: "benzin-semibold";
  color: #fff;
}

.icons > a > img {
  margin-left: 14px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.view-project > a > h2 {
  font-family: "benzin-regular";
  color: #fff;
  cursor: pointer;
}

.arrow {
  width: 30px;
  cursor: pointer;
}

.bottom > h1 {
  position: relative;
  left: 26px;
  bottom: 20px;
}

.project-container {
  display: flex;
}

.links {
  margin-right: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  width: max-content;
}

.links::after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: 0.5s;
  top: 55px;
}

.links:hover,
.links:focus {
  color: white;
}

.links:hover::after,
.links:focus::after {
  background-color: white;
  width: 100%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.4s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.5);
}

/* 
FOR LENOVO SHIT COMPUTER
.logo {
  width: 70px;
}

.logo,
.menu {
  padding: 40px;
  cursor: pointer;
}

.me {
  width: 250px;
  margin-top: 0;
}

.top,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
} 

.bottom > div {
  display: flex;
  align-items: center;
  padding: 0px 40px 0 40px;
}

.bottom > h1 {
  text-align: center;
  font-family: "benzin-semibold";
  color: #fff;
}

.icons > img {
  margin-left: 14px;
  cursor: pointer;
}

.view-project > h2 {
  font-family: "benzin-regular";
  color: #fff;
  cursor: pointer;
}

.arrow {
  width: 30px;
  cursor: pointer;
} */

/* NAME TAG SIZE */
@media only screen and (max-width: 1100px) {
  .me {
    max-width: 270px;
  }
}

/*large*/
@media only screen and (max-width: 992px) {
  .me {
    max-width: 270px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bottom > div,
  .bottom > h1,
  .view-project {
    width: 100%;
    display: flex;
    justify-content: center; /* Center child elements */
  }
}

/*medium*/
@media only screen and (max-width: 840px) {
  .me {
    max-width: 250px;
  }

  .top,
  .bottom {
    display: flex;
    justify-content: center;
  }

  .logo {
    padding: 30px 140px;
  }

  .menu {
    padding: 30px 140px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: auto;
  }

  .bottom h1 {
    order: 1; /* Move h1 to the top */
    position: relative;
    left: 0;
    bottom: 0;
  }

  .view-project {
    order: 2; /* Move view-project below h1 */
  }

  .icons {
    order: 3; /* Move icons to the bottom */
    position: relative;
    right: 15px;
  }

  .links {
    margin-right: 0;
    position: relative;
    bottom: 13px;
  }
}

/*small*/
@media only screen and (max-width: 576px) {
  .me {
    max-width: 160px;
  }

  .top {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 30px;
    padding: 30px 40px;
  }

  .menu {
    width: 40px;
    padding: 30px 40px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 45px;
  }

  .bottom > h1 {
    left: 0;
  }

  .links {
    margin: 0;
    position: relative;
    bottom: 13px;
  }

  .bottom h1 {
    order: 1; /* Move h1 to the top */
    font-size: 24px;
  }

  .view-project {
    order: 2; /* Move view-project below h1 */
    font-size: 14px;
  }

  .view-project > a > h2 {
    margin: 10px 0;
}

  .icons {
    order: 3; /* Move icons to the bottom */
    position: relative;
    right: 12px;
  }

  .icons > a > img {
    width: 30px;
  }

  .icons a:nth-child(3) img {
    width: 40px;
  }

  .links::after {
    top: 54px;
  }
}
