body {
  background-color: #262626;
  margin: 0;
}

.logo {
  width: 50px;
}

.menu {
  width: 60px;
}

.logo,
.menu {
  padding: 90px;
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
}

main {
  margin: auto;
  width: 55%;
  color: #fff;
  position: relative;
  top: 45px;
}

.content {
  display: flex;
  align-items: baseline;
  font-family: "benzin-semibold";
}

.content > p {
  margin: 0 20px 0 0;
}

.content > p,
h1 {
  cursor: pointer;
}

.bottom {
  margin-left: 40px;
}

a > h1 {
  font-size: 46px;
}

h2 {
  font-family: "benzin-regular";
}

.arrow {
  width: 30px;
}

.flex {
  display: flex;
}

.links {
  margin-right: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.links::after {
  content: "";
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: 0.5s;
  top: 55px;
}

.links:hover,
.links:focus {
  color: white;
}

.links:hover::after,
.links:focus::after {
  background-color: white;
  width: 100%;
}

.extra {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

/*small*/
@media only screen and (max-width: 590px) {
  a > h1 {
    font-size: 36px; /* Smaller than 46px */
  }

  h2 {
    font-size: 24px;  /* Adjusted for better readability */
  }

  main {
    top: 110px;;
  }

  .logo, .menu {
    padding: 50px;  /* Smaller than 90px */
    width: 40px;
  }
}
