body {
  background-color: #262626;
  margin: 0;
}

.logo {
  width: 50px;
}

.menu {
  width: 60px;
}

.logo,
.menu {
  padding: 90px;
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.me {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 10% 0 0;
    width: 880px;
    height: 760px;
    display: none;
}

main {
    padding-left: 52%;
    padding-right: 12%;
    animation-delay: 0.6s;
}

h1 {
    font-family: "benzin-semibold";
    color: #fff;
    margin: 0;
}

hr {
    margin: 0;
}

main > div {
    display: flex;
    justify-content: space-between;
}

main > div > h2, h3 {
    font-family: 'benzin-regular';
    color: #FFF;
}

.title {
    cursor: pointer;
}

.project_image {
  position: absolute;
  border-radius: 0 10% 0 0;
  width: 880px;
  left: 0;
  top: 0;
  height: 760px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Prevent it from interfering with other elements */
}

.title:hover + .project_image {
  opacity: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}



.project_list:hover:not(:hover .project_image) .project_image {
  animation: fadeIn 0.3s linear forwards; 
}

.project_list:not(:hover) .project_image {
  animation: fadeOut 0.5s linear forwards; 
}